<select onchange="load_category(this.value, 1);">
    <option value="0">Not limited to classification</option>
    <option value="1392">Agriculture & Food</option>
    <option value="1393" selected>Arts & Crafts</option>
    <option value="1394">Apparel & Accessories</option>
    <option value="1395">Auto Parts & Accessories</option>
    <option value="1396">Bags, Cases & Boxes</option>
    <option value="1397">Chemicals</option>
    <option value="1399">Construction & Decoration</option>
    <option value="1401">Electrical & Electronics</option>
    <option value="1402">Furniture & Furnishing</option>
    <option value="1406">Machinery</option>
    <option value="1412">Textile</option>
    <option value="1413">Tools & Hardware</option>
    <option value="1398">Computer Products</option>
    <option value="1400">Consumer Electronics</option>
    <option value="1404">Light Industry & Daily Use</option>
    <option value="1405">Lights & Lighting</option>
    <option value="1408">Office Supplies</option>
    <option value="1409">Security & Protection</option>
    <option value="1411">Sporting Goods & Recreation</option>
    <option value="1407">Metallurgy, Mineral & Energy</option>
    <option value="1414">Toys</option>
    <option value="1415">Transportation</option>
    <option value="1410">Service</option>
</select>

<select onchange="load_category(this.value, 1);">
    <option value="0">Not limited to classification</option>
    <option value="1545">Antique & Collection</option>
    <option value="1546">Art Box</option>
    <option value="1547">Artificial Crafts</option>
    <option value="1548">Arts & Crafts Stocks</option>
    <option value="1549">Badge</option>
    <option value="1550">Balloon & Inflatable</option>
    <option value="1551">Bamboo Crafts</option>
    <option value="1600">Basketry</option>
    <option value="1601">Calendar</option>
    <option value="1602">Candle & Candle Holders</option>
    <option value="1603">Carving & Sculpture</option>
    <option value="1604">Ceramics</option>
    <option value="1605">Christmas & Holiday</option>
    <option value="1606">Clock & Watch</option>
    <option value="1607">Cloisonne</option>
    <option value="1608">Crystal Crafts</option>
    <option value="1609">Digital Photo Frame</option>
    <option value="1610">Fashion Accessories</option>
    <option value="1611">Feather & Shell Crafts</option>
    <option value="1612">Fengshui Crafts</option>
    <option value="1613">Fine Timepiece</option>
    <option value="1614">Fireworks</option>
    <option value="1615">Flower, Bonsai & Decorative Plant</option>
    <option value="1616">Folding Screen</option>
    <option value="1617">Folk-custom Crafts</option>
    <option value="1618">Fountain</option>
    <option value="1619">Funeral Products</option>
    <option value="1620">Glass Crafts</option>
    <option value="1621">Greeting Cards</option>
    <option value="1622">Jade & Stone Crafts</option>
    <option value="1623">Jewelry</option>
    <option value="1624">Key Chain</option>
    <option value="1625">Lacquer Crafts</option>
    <option value="1626">Lanyard</option>
    <option value="1627">Leather Crafts</option>
    <option value="1628">Lighting Decoration</option>
    <option value="1629">Luminous & Fluorescent Items</option>
    <option value="1630">Metal Crafts</option>
    <option value="1631">Mobile Phone Decoration</option>
    <option value="1632">Natural Crafts</option>
    <option value="1633">Office Gifts & Decoration</option>
    <option value="1634">Other Crafts</option>
    <option value="1635">Painting & Calligraphy</option>
    <option value="1636">Paper Crafts</option>
    <option value="1637">Photo Album & Frame</option>
    <option value="1638">Plant Plaiting</option>
    <option value="1639">Plastic & Resin Crafts</option>
    <option value="1640">Porcelain</option>
    <option value="1641">Promotion Gifts</option>
    <option value="1642">Religion Crafts</option>
    <option value="1643">Ribbon</option>
    <option value="1644">SPA Products</option>
    <option value="1645">Silk & Embroidery</option>
    <option value="1646">Smoking Set</option>
    <option value="1647">Souvenir</option>
    <option value="1648">Sticker</option>
    <option value="1649">Textile & Weaving Crafts</option>
    <option value="1650">Vase</option>
    <option value="1651">Wooden Crafts</option>
</select>